.navbar_container {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background: rgb(2, 2, 71);
  background: linear-gradient(
    149deg,
    rgba(2, 2, 71, 1) 35%,
    hsl(240, 46%, 60%) 100%
  );
  color: $color_pal1_white;

  .title {
    font-size: 3rem;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
    font-family: Parisienne, cursive;
  }
}

.navbar_menu {
  width: 500px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 20px;

  .full_menu {
    button {
      background-color: transparent;
      color: $color_pal1_white;
      border: none;
      font-size: 1.2rem;
      margin-right: 20px;
      cursor: pointer;
    }
  }

  .small_menu {
    display: none;
  }
}
