@import './_smallProfile.scss';
@import './_smallStats.scss';
@import './_fullProfile.scss';

.mini_user {
  display: flex;
  flex-direction: column;
}

.display_body {
  width: 85%;
  max-width: 1230px;
  height: 650px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 40px 0 0 20px;
}
