.reinit_container {
  width: 650px;
  height: 400px;
  display: flex;
  position: absolute;
  flex-direction: column;
  color: $color_pal1_blue1;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 1px $color_pal1_grey3;

  .close {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: right;
    margin: 10px 0;

    button {
      border: none;
      cursor: pointer;
      color: $color_pal1_yellow3;
      background-color: transparent;
    }
  }

  .title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin: 40px auto 5px auto;
  }

  .message {
    width: 70%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color_red1;
    font-size: 1.1rem;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  .reinit_form {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;

    .input_password {
      width: 80%;
      height: 45px;
      display: flex;
      margin: 5px auto;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      background-color: white;
      border: 1px solid $color_pal1_grey3;

      input {
        width: 60%;
        height: 100%;
        padding: 0 20px;
        font-size: 1.1rem;
        border: none;
        outline: none;
        border-radius: 8px;
      }
      .eye_container {
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      .generate {
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding: 0 3px;
        cursor: pointer;
        background-color: $color_pal1_grey3;
      }
    }

    .input_submit {
      width: 100%;
      height: 45px;
      display: flex;

      input {
        width: 80%;
        height: 100%;
        background-color: $color_pal1_blue1;
        color: $color_pal1_white;
        font-size: 1.1rem;
        margin: 10px auto;
        border: none;
        outline: none;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }

  .signup_link {
    width: 80%;
    display: flex;
    margin: 0 auto;

    a {
      color: $color_pal1_blue1;
      text-decoration: none;
      font-size: 1.1rem;
      cursor: pointer;
    }
  }
}
