body {
  margin: 0;
  padding: 0;
  font-family: serif;
  font-size: 1rem;
}

.app_container {
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notif_container {
  position: absolute;
  top: 10px;
  width: 98%;
  margin: 0 auto;
  display: flex;
  .notification {
    margin: 0 0 0 auto;
    background-color: rgb(61, 61, 62);
    color: $color_pal1_white;
    padding: 5px 15px 15px 15px;
    border-radius: 5px;
    min-width: 200px;
    max-width: 800px;
    min-height: 50px;
    font-size: 1.1rem;
    z-index: 1000;
    .close {
      display: flex;
      justify-content: right;
      cursor: pointer;
    }
  }
}

.footer {
  width: 100%;
  min-height: 100px;
  background-color: $color_pal1_blue1;
  color: $color_pal1_white;
}
