//Palette base bleu #020247
$color_pal1_blue1: #020247;
$color_pal1_blue2: #262687;
$color_pal1_blue3: #6969C7;
$color_pal1_yellow1: #473B02;
$color_pal1_yellow2: #9C8A39;
$color_pal1_yellow3: #F1E4A8;
$color_pal1_white: #fffff0;
$color_red1: #490303;
$color_red2: #9c0505;
$color_red3: #f30404;
